main {
    display: grid;
    height: 100%;

    margin: 0 auto;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 0px;
}

main>* {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding-left: 80px;
    padding-top: 60px;

    grid-template-areas:
        "header"
        "izquierda"
        "contenido"
        "derecha"
        "footer";
}

//RESPONSIVE
@media (min-width: 500px) {
    main {
        grid-template-areas:
            "header header header"
            "izquierda contenido derecha"
            "footer footer footer";

        grid-template-columns: 5fr 2fr 1fr;

    }
}




//NOMBRAR AREAS
header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: izquierda;
}

article {
    grid-area: contenido;
}

aside:last-of-type {
    grid-area: derecha;
}

footer {
    grid-area: footer;
}


// TITULO MI CARRITO
.micarrito {
    font-size: 35px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight: bold;
}

.cart {
    font-size: 31px;
}


.contenido {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    background-color: rgb(246, 246, 246);
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 40px;
    box-shadow: 0 0.688em 0em rgb(51, 51, 51);
    border-radius: 0px 3px 0px 0px;
}

.contenido .art{
    background-color: rgb(246, 246, 246);


}

.mensaje-carrito-vacio {
    padding-top: 30px;
    font-size: 22px;
    margin-bottom: 200px;
    text-align: center;
}




// CART DERECHA


.derecha {
    display: flex;
    flex-direction: column;
    width: 150%;
    height: 600px;
    padding-right: 9%;
    background-color: rgb(42, 42, 42);
    color: white;
    box-shadow: 0 0.188em 1.50em rgb(51, 51, 51);
    border-radius: 15px 0px 0px 15px;
    padding-bottom: 0px;
    padding-top: 60px;
}






// ID (CART DE IZQUIERDA)
.id {
    padding-top: 60px;
    padding-right: 20px;
    background-color: rgb(242, 242, 242);
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    justify-content: center;
}

.info-prod {
    margin-left: 540px;
}

.imagen-container {
    display: flex;
    flex-direction: row;
}

.producto {
    padding-top: 60px;
    text-align: justify;
    padding-right: 10px;
    padding-left: 20px;
}

.marca {
    padding-top: 60px;
}

.desc {
    padding-top: 60px;
    padding-left: 10px;
    background-color: rgb(246, 246, 246);
}


.imagen {
    width: 140px;
}

.imagen-container {
    padding-top: 0px;
}

.container-boton-eliminar-art{
    display: flex;
    flex-direction: row;
    padding-right: 60px;
    padding-top: 45px;
    justify-content: center;
}

.boton-vaciar-carrito-art {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    background-color: rgb(170, 14, 14);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: rgb(115, 115, 115);
}

.boton-vaciar-carrito-art:hover {
    background-color: rgb(213, 56, 9);
    color: rgb(255, 255, 255);
    border-color: rgb(115, 115, 115);
}



.info-precio-total {
    color: crimson;
    font-size: 20px;
    text-align: right;
    font-weight: bold;

}


// NOMBRE ARTICULO (CART DE DERECHA)
.art .articulo {
    background-color: rgb(42, 42, 42);
    font-size: 22px;
}

// NOMBRE DESCRIPCION (CART DE DERECHA)
.art .descripcion {
    background-color: rgb(42, 42, 42);
    font-size: 20px;
}

// TITULO (CART DE DERECHA)
.derecha-titulo {
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;

}

.cont {
    margin-top: 100px;
}


.derecha-detalle-cant {
    text-align: right;
}

.derecha-detalle-sin-iva {
    text-align: right;
}

.derecha-detalle-total-iva {
    text-align: right;
}


.derecha-detalle-total {
padding-bottom: 100px;
text-align: right;
}



.boton-vaciar-carrito {
    margin: 0 auto;
    height: 55px;
    width: 230px;
    background-color: rgb(170, 14, 14);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: rgb(115, 115, 115);
    font-size: 25px;
}

.boton-vaciar-carrito:hover {
    background-color: rgb(213, 56, 9);
    color: rgb(255, 255, 255);
    border-color: rgb(115, 115, 115);
}




.boton-ir-a-comprar {
    margin: 0 auto;
    height: 55px;
    width: 230px;
    background-color: rgba(6, 92, 0, 0.858);
    color: white;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    padding-top: 8px;
    border-color: rgb(64, 156, 64);
}

.boton-ir-a-comprar:hover {
    background-color: rgb(71, 192, 71);
    border-color: rgb(5, 173, 5);
    color: rgb(231, 231, 231);
}



//BOTONES CARRITO

.botones-carrito {
    display: flex;
    align-content: left;
    padding: 10px;
}

.boton-seguir-comprando {
    margin: 0 auto;
    height: 55px;
    width: 230px;
    background-color: rgb(44, 150, 9);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: rgb(115, 115, 115);
    font-size: 25px;
    padding-bottom: 8px;
}




.derecha-detalle-date {
    color:rgb(131, 131, 131);
    padding-top: 50px;
    font-size: 10px;
    text-align: right;
    margin: 0 left;
}



.botones-pagar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: left;
    margin-bottom: 0px;
    padding-top: 0px;
}

.boton-pagar {
    margin: 0 auto;
    height: 55px;
    width: 280px;
    background-color: rgb(0, 17, 164);

    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    padding-top: 8px;
}

.boton-pagar:hover {
    background-color: rgb(36, 47, 205);
    color: rgb(255, 255, 255);
    border-color: rgb(202, 202, 202);
}

