.container-consola {
    display:grid;
    background-color: rgb(42, 42, 42);
    color:white;
    width: 35%;
    height: 100%;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 70px;
  }
  
  //DETALLE MARCA
  .container-consola .marca-consola{
    font-size: 35px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: white;
    text-align: center;
  }
  
  //DETALLE ARTICULO
  .container-consola .articulo-consola{
    font-size: 18px;
    padding-top: 30px;
    text-align: right;
    padding-right: 40px;
  }
  
  //DETALLE DESCRIPCION
  .container-consola .descripcion-consola{
    font-size: 18px;
    padding-bottom: 10px;  
    text-align: right;
    padding-right: 40px;
  }
  
  //TAMAÑO IMAGEN ARTICULO
  .container-consola .imagen-consola {
    width: 40%;
    margin: 0 auto;
    border-radius: 3px;
    justify-content: center;
  }
  
  
  //PRECIO ARTICULO
  .container-consola .precio-consola {
    font-size: 38px;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin: 0 auto;
    background-color: rgb(42, 42, 42);
  }
  
  // CONSOLA ITEM DETALLES
  .container-consola .categoria-consola {
    background-color: rgb(42, 42, 42);
    padding-top: 3px;
    text-align: left;
    margin: 15px;
    font-size: 10px;
  }
  
  // CONSOLA ITEM DETALLES

  
  .contador {
    display: flex;
    font-size: 20px;
    padding-bottom: 25px;
  }


.consola-categoria {
    padding-top: 1px;
    padding-bottom: 15px;
}


.boton-volver {
    margin: 0 auto;
    margin: 0 auto;
    height: 55px;
    width: 230px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border-color: rgb(115, 115, 115);
    font-size: 25px;
}

.boton-volver:hover {
    background-color: rgb(246, 71, 52);
    color: rgb(255, 255, 255);
    border-color: rgb(115, 115, 115);
}


.boton-seguir-comprando {
  margin: 0 auto;
  height: 55px;
  width: 230px;
  background-color: rgba(97, 97, 97, 0.858);
  color: rgb(141, 141, 141);
  border-radius: 8px;
  font-size: 25px;
  text-align: center;
  padding-top: 8px;
  border-color: rgb(64, 156, 64);

  .boton-seguir-comprando:hover {
    background-color: rgb(71, 192, 71);
    border-color: rgb(5, 173, 5);
    color: rgb(231, 231, 231);
  }
}

