.nosotros-titulo {
    background-color: rgb(42, 42, 42);
    text-align: center;
    padding: 70px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 50px;
}

.nosotros {
    max-width: 40em;
    box-shadow: 0 0.188em 1.50em rgb(51, 51, 51);
    padding-top: 150px;
    padding-bottom: 10px;
    background-color: rgb(42, 42, 42);
    font-weight: bold;
    border-radius: px;
    box-shadow: inset 1px 1px 1px 1px;
    color:#ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
}

