.boton-registro {
  margin: 0 auto;
  height: 55px;
  width: 280px;
  background-color: rgb(0, 17, 164);
  font-style: none;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border-color: rgb(0, 0, 0);
  font-size: 25px;
  padding-top: 8px;
  text-decoration: none;
}

.boton-registro:hover {
  background-color: rgb(36, 47, 205);
  color: rgb(255, 255, 255);
  border-color: rgb(202, 202, 202);
}

.botones-reg {
  padding-top: 40px;
  padding-left: 59px;
}

.informacion {
margin-top: 90px;
text-align: center;
margin-bottom: 10px;
}