    /* NAV LINKS BOTONES */
    .CardWidget {
        color: white;
        font-size: 22px;
        margin-right: 40px;


        .CardWidget_icono {
          color: white;

          
        }
      }
  
      .CardWidget:hover {
        color: #bababa;
        transition: 0.3s;
        background-color: rgb(42, 42, 42);
        border-top: 2px solid rgb(86, 86, 86);
        border-bottom: 2px solid rgb(86, 86, 86);
        border-radius: solid 10px;
        font-size: 23px;
      }


.CardWidget_monto {
  display: flex;
  
}

.span-cart {
  font-size: 20px;
  text-decoration: underline;
}