.form-control {
  width: 300px;

  .form-control:hover {
    border-color: rgb(202, 202, 202);
    border-color: rgb(202, 202, 202);
  }
}

.intro-form{
  width: 400px;
  height: 900px;
  margin: 0 auto;
  margin-top: 70px;

.boton-form-enviar {
  height: 55px;
  width: 180px;
  background-color: rgb(0, 17, 164);
  font-style: none;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border-color: rgb(0, 0, 0);
  font-size: 25px;
  padding-top: 8px;
  text-decoration: none;

  .boton-form-enviar:hover {
    background-color: rgb(36, 47, 205);
    color: rgb(255, 255, 255);
    border-color: rgb(202, 202, 202);
  }
}

.boton-form-cancelar {
  height: 55px;
  width: 180px;
  background-color: rgb(0, 17, 164);
  font-style: none;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border-color: rgb(0, 0, 0);
  font-size: 25px;
  padding-top: 8px;
  text-decoration: none;

  .boton-form-cancelar:hover {
    background-color: rgb(36, 47, 205);
    color: rgb(255, 255, 255);
    border-color: rgb(202, 202, 202);
  }
}
}

.container-total {
  margin-left: 22px;
  padding-top: 35px;
  padding-bottom: 40px;
}

